[Desktop Entry]
Name=Moonrelay
Comment=A Matrix client for professionals
Exec=moonrelay %u
Icon=moonrelay
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=moonrelay
MimeType=x-scheme-handler/matrix;
